<!-- ang-gulp/1v subshop -->
<!-- index.html -->
<!doctype html>
<html ng-app="1vSubShop">
  <head>
    <base href="/">
    <meta charset="utf-8">
    <title>1vSubShop</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div>
      <acme-navbar creation-date="main.creationDate"></acme-navbar>
    </div>

    <div ui-view></div>

    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>



<!-- app/dish/index.html -->
<!-- <div class="text-center">
  <h1>Menu</h1>
  <div ng-repeat="dish in ctrl.inventory">
    <a ng-click="ctrl.goDish(dish)">{{ dish.name + ' : ' + (dish.price | currency) }}</a>
  </div>
</div> -->

<section class="container-fluid main">
  <div class="row">
    <article class="items col-sm-9">
      <section class="search">
        <form class="navbar-form" role="search">
          <div class="form-group"><input type="text" class="form-control" name="search" ng-model="ctrl.searchText" placeholder="Search"></div>
          <button type="clear"  class="btn btn-warning" ng-click="ctrl.searchText = ''">Reset</button>
        </form>
      </section>

      <div class="list-group">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animate-inventory"
               ng-repeat="dish in filteredDishes = ( ctrl.inventory | inventory : ctrl.searchText | orderBy: 'price' )">
            <a ng-click="ctrl.goDish(dish)" class="list-group-dish">
              <h3>{{ dish.name }}</h3>
              <article class="row">
                <!-- <div class="col-xs-5">
                  <img class="middle" width=96px src="/assets/images/inventory/{{dish.imageFile}}"/>
                </div> -->
                <div class="col-xs-7">
                  <dl class="dl-horizontal">
                    <!-- <dt>Category:</dt><dd>{{ dish.category }}</dd> -->
                    <dt>Price:</dt>
                    <dd>{{ dish.price | currency }}</dd>
                    <!-- <dt>In Stock:</dt><dd>{{ dish.qty }} </dd> -->
                  </dl>
                </div>
              </article>
            </a>
            <div class="text-center">
              <button class="btn btn-sm btn-success" id="sold-out-button" ng-click="ctrl.addDish(dish)" ng-disabled="dish.qty < 1" ng-class="{'btn-danger': dish.qty == 0}">Add to Order</button>
            </div>
          </div>
          <div class="animate-inventory text-center" ng-hide="filteredDishes.length">
            <h3>No dishes match your search.</h3>
          </div>
        </div>
      </div>
    </article>
    <article class="col-sm-3">
      <h2>Your Order:</h2>
      <ul>
        <li class="order animate-order" ng-repeat="dish in ctrl.order">
          <span>{{ dish.quantity + ' x ' + dish.name + ': ' + (ctrl.getCost(dish) | currency) }}</span>
          <div><button class="btn btn-danger btn-xs" ng-click="ctrl.removeDish(dish)">Remove Item</button></div>
        </li>
      </ul>
      <h3>Total inc. tax: {{ ctrl.getTotal() | currency }}</h3>
      <br>
      <button class="btn btn-danger" ng-click="ctrl.clearOrder(order)">Clear Order</button>
    </article>
  </div>
</section>

<!-- app/dish.show.html -->
<section class="container-fluid dish">
  <div class="row">
    <h2 class="text-center">{{ ctrl.dish.name }}</h2>
    <div class="col-md-4 col-md-offset-2">
      <dl class="dl-horizontal">
        <dt>Price:</dt>
        <dd>{{ ctrl.dish.price | currency }}</dd>
        <dt>In Stock:</dt>
        <dd>{{ ctrl.dish.qty }}</dd>
        <dt>Made on:</dt>
        <dd>{{ ctrl.dish.made }}</dd>
      </dl>

      <div class="back">
        <button type="button"
                class="btn btn-primary"
                onclick="window.history.back()">Back</button>
      </div>
    </div>

<!--     <div class="col-md-4 dish-image">
      <img class="middle" width=200px src="/assets/images/inventory/{{ctrl.dish.imageFile}}"/>
    </div> -->
  </div>
</section>

<!-- fullstack/4v subshop
client/index.html -->
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
      <!-- bower:css -->
      <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
      <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
      <link rel="stylesheet" href="app/app.css">
      <!-- injector:css -->
      <!-- endinjector -->
    <!-- endbuild -->
  </head>
  <body ng-app="4vSubShopApp">
    <!--[if lt IE 7]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <navbar></navbar>
    <div ui-view=""></div>
    <footer></footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-XXXXX-X');
      ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->
    <!-- build:js({client,node_modules}) app/vendor.js -->
      <!-- bower:js -->
      <script src="bower_components/jquery/dist/jquery.js"></script>
      <script src="bower_components/angular/angular.js"></script>
      <script src="bower_components/angular-resource/angular-resource.js"></script>
      <script src="bower_components/angular-cookies/angular-cookies.js"></script>
      <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
      <script src="bower_components/lodash/dist/lodash.compat.js"></script>
      <script src="bower_components/angular-socket-io/socket.js"></script>
      <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
      <script src="bower_components/angular-validation-match/dist/angular-validation-match.min.js"></script>
      <script src="bower_components/angular-animate/angular-animate.js"></script>
      <!-- endbower -->
      <script src="socket.io-client/socket.io.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) app/app.js -->
      <script src="app/app.js"></script>
      <!-- injector:js -->
      <script src="app/admin/admin.module.js"></script>
      <script src="components/auth/auth.module.js"></script>
      <script src="components/util/util.module.js"></script>
      <script src="app/account/account.js"></script>
      <script src="app/account/login/login.controller.js"></script>
      <script src="app/account/settings/settings.controller.js"></script>
      <script src="app/account/signup/signup.controller.js"></script>
      <script src="app/admin/admin.controller.js"></script>
      <script src="app/admin/admin.router.js"></script>
      <script src="app/app.constant.js"></script>
      <script src="app/itemService/itemService.service.js"></script>
      <script src="app/items/itemFilter/itemFilter.filter.js"></script>
      <script src="app/items/items.controller.js"></script>
      <script src="app/items/items.js"></script>
      <script src="app/main/main.controller.js"></script>
      <script src="app/main/main.js"></script>
      <script src="app/orderService/orderService.service.js"></script>
      <script src="components/auth/auth.service.js"></script>
      <script src="components/auth/interceptor.service.js"></script>
      <script src="components/auth/router.decorator.js"></script>
      <script src="components/auth/user.service.js"></script>
      <script src="components/footer/footer.directive.js"></script>
      <script src="components/modal/modal.service.js"></script>
      <script src="components/mongoose-error/mongoose-error.directive.js"></script>
      <script src="components/navbar/navbar.controller.js"></script>
      <script src="components/navbar/navbar.directive.js"></script>
      <script src="components/socket/socket.service.js"></script>
      <script src="components/util/util.service.js"></script>
      <!-- endinjector -->
    <!-- endbuild -->
  </body>
</html>

<!-- app/account/login/login.html -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Login</h1>
      <p>Accounts are reset on server restart from <code>server/config/seed.js</code>. Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.login(form)" novalidate>

        <div class="form-group">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email" required>
        </div>

        <div class="form-group">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password" required>
        </div>

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && vm.submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ vm.errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login" type="submit">
            Login
          </button>
          <a class="btn btn-default btn-lg btn-register" ui-sref="signup">
            Register
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>

<!-- app/account/setting/settings.html -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Change Password</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.changePassword(form)" novalidate>

        <div class="form-group">
          <label>Current Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.oldPassword"
                 mongoose-error/>
          <p class="help-block" ng-show="form.password.$error.mongoose">
              {{ vm.errors.other }}
          </p>
        </div>

        <div class="form-group">
          <label>New Password</label>

          <input type="password" name="newPassword" class="form-control" ng-model="vm.user.newPassword"
                 ng-minlength="3"
                 required/>
          <p class="help-block"
             ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)">
            Password must be at least 3 characters.
          </p>
        </div>

        <div class="form-group">
          <label>Confirm New Password</label>

          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.newPassword"
                 ng-minlength="3"
                 required=""/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>

        </div>

        <p class="help-block"> {{ vm.message }} </p>

        <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
      </form>
    </div>
  </div>
</div>

<!-- app/account/signup/signup.html -->
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
    <div class="col-sm-12">
      <form class="form" name="form" ng-submit="vm.register(form)" novalidate>

        <div class="form-group" ng-class="{ 'has-success': form.name.$valid && vm.submitted,
                                            'has-error': form.name.$invalid && vm.submitted }">
          <label>Name</label>

          <input type="text" name="name" class="form-control" ng-model="vm.user.name"
                 required/>
          <p class="help-block" ng-show="form.name.$error.required && vm.submitted">
            A name is required
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.email.$valid && vm.submitted,
                                            'has-error': form.email.$invalid && vm.submitted }">
          <label>Email</label>

          <input type="email" name="email" class="form-control" ng-model="vm.user.email"
                 required
                 mongoose-error/>
          <p class="help-block" ng-show="form.email.$error.email && vm.submitted">
            Doesn't look like a valid email.
          </p>
          <p class="help-block" ng-show="form.email.$error.required && vm.submitted">
            What's your email address?
          </p>
          <p class="help-block" ng-show="form.email.$error.mongoose">
            {{ vm.errors.email }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.password.$valid && vm.submitted,
                                            'has-error': form.password.$invalid && vm.submitted }">
          <label>Password</label>

          <input type="password" name="password" class="form-control" ng-model="vm.user.password"
                 ng-minlength="3"
                 required
                 mongoose-error/>
          <p class="help-block"
             ng-show="(form.password.$error.minlength || form.password.$error.required) && vm.submitted">
            Password must be at least 3 characters.
          </p>
          <p class="help-block" ng-show="form.password.$error.mongoose">
            {{ vm.errors.password }}
          </p>
        </div>

        <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,
                                            'has-error': form.confirmPassword.$invalid && vm.submitted }">
          <label>Confirm Password</label>
          <input type="password" name="confirmPassword" class="form-control" ng-model="vm.user.confirmPassword"
                 match="vm.user.password"
                 ng-minlength="3" required/>
          <p class="help-block"
             ng-show="form.confirmPassword.$error.match && vm.submitted">
            Passwords must match.
          </p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-register" type="submit">
            Sign up
          </button>
          <a class="btn btn-default btn-lg btn-login" ui-sref="login">
            Login
          </a>
        </div>

      </form>
    </div>
  </div>
  <hr>
</div>

<!-- app/admin/admin.html -->
<div class="container">
  <p>The delete user and user index api routes are restricted to users with the 'admin' role.</p>
  <ul class="list-group user-list">
    <li class="list-group-item" ng-repeat="user in admin.users">
      <div class="user-info">
          <strong>{{user.name}}</strong><br>
          <span class="text-muted">{{user.email}}</span>
      </div>
        <a ng-click="admin.delete(user)" class="trash"><span class="fa fa-trash fa-2x"></span></a>
    </li>
  </ul>
</div>

<!-- app/items/items.html -->
<!-- <div>This is the items view.</div> -->

<section class="container search">
  <form class="navbar-form" role="search">
    <div class="form-group">
      <input type="text" class="form-control" name="search" ng-model="$ctrl.searchText" placeholder="Search">
    </div>
    <button type="clear" class="btn btn-warning"
            ng-click="$ctrl.searchText = ''">Reset</button>
  </form>
</section>

<section class="container items">
  <div class="list-group">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 animate-inventory"
           ng-repeat="item in filteredItems = ( $ctrl.inventory | itemFilter : $ctrl.searchText | orderBy: 'price' )">
        <a ng-click="$ctrl.goItem(item)" class="list-group-item">
          <h3>{{ item.name }}</h3>
          <article class="row">
            <!-- <div class="col-xs-5">
              <img class="middle" width=96px ng-src="/assets/images/{{item.imageFile}}"/>
            </div> -->
            <div class="col-xs-7">
              <dl class="dl-horizontal">
                <!-- <dt>Category:</dt>
                <dd>{{ item.category }}</dd> -->
                <dt>Price:</dt>
                <dd>{{ item.price | currency }}</dd>
                <dt>In Stock:</dt>
                <dd>{{ item.qty }}</dd>
              </dl>
            </div>
          </article>
        </a>
        <div class="text-center">
          <button class="btn btn-sm btn-success" id="sold-out-button" ng-click="$ctrl.addItem(item)" ng-disabled="item.qty < 1" ng-class="{'btn-danger': item.qty < 3}">Add to Order</button>
        </div>
      </div>
      <div class="animate-inventory text-center" ng-hide="filteredItems.length">
        <h3>No items match your search.</h3>
      </div>
    </div>
  </div>
</section>

<section class="order text-center">
  <h2>Your Order:</h2>
  <ul>
    <li class="order animate-order" ng-repeat="item in $ctrl.order">
      <span>{{ item.qty + ' x ' + item.item.name + ' = ' + ($ctrl.getCost(item) | currency) }}</span>
      <button class="btn btn-danger btn-xs" ng-click="$ctrl.removeItem(item)">Remove Item</button>
    </li>
  </ul>
  <h3>Total: {{ $ctrl.getTotal() | currency }}</h3>
  <br>
  <button class="btn btn-danger" ng-click="$ctrl.clearOrder()">Clear Order</button>
</section>

<!-- app/main/main.html -->
<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Good afternoon, Dave!</h1>
    <!-- <p class="lead">Kick-start your next web app with Angular Fullstack</p> -->
    <img src="assets/images/photo.png" alt="Yo Yeoman">
  </div>
</header>

<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in $ctrl.awesomeThings">
        <li><a href="#" uib-tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="$ctrl.deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="$ctrl.newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="$ctrl.addThing()">Add New</button>
      </span>
    </p>
  </form>
</div> -->

<!-- components/navbar/navbar.html -->
<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in nav.menu" ui-sref-active="active">
            <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="nav.isAdmin()" ui-sref-active="active"><a ui-sref="admin">Admin</a></li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="items">Menu</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="signup">Sign up</a></li>
        <li ng-hide="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="login">Login</a></li>
        <li ng-show="nav.isLoggedIn()"><p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p> </li>
        <li ng-show="nav.isLoggedIn()" ui-sref-active="active"><a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span></a></li>
        <li ng-show="nav.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- components/modal/modal.html -->
<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <p ng-if="modal.text" ng-bind="modal.text"></p>
  <div ng-if="modal.html" ng-bind-html="modal.html"></div>
</div>
<div class="modal-footer">
  <button ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event)" ng-bind="button.text" class="btn"></button>
</div>

<!-- components/footer/footer.html -->
<div class="container">
  <p>Angular Fullstack v3.7.5 |
    <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
    <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a>
  </p>
</div>
