<!DOCTYPE html>
<html>
  <head>
    <title>Sub Shop Supervisor</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="angular/angular.min.js" defer></script>
    <script type="text/javascript" src="angular-ui-router/release/angular-ui-router.min.js" defer></script>
    <script type="text/javascript" src="javascripts/client.js" defer></script>
    <base href="/">
  </head>
  <body ng-app='subShopApp' ng-controller='itemsCtrl as ctrl'>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
    <div style="border: solid 2px; padding: 5px; color: #EEEEEE">
      <a ui-sref="home">Home</a>
      <a ui-sref="items">Menu</a>
    </div>
    <!-- <h1>Menu</h1>
    <ul>
      <li ng-repeat="item in ctrl.items">{{ item.name }} - {{ item.price | currency }}</li>
    </ul> -->
    <div ui-view=""></div>
  </body>
</html>
